/* setup */
body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;

    --dark-bg-color: #1F2937;

    --hero-main-font-color: #F9FAF8;
    --hero-main-font-size: 48px;
    --hero-main-font-weight: 900;

    --hero-secondary-font-color: #E5E7EB;
    --hero-secondary-font-size: 18px;

    --header-logo-font-color: #F9FAF8;
    --header-logo-font-size: 24px;

    --cta-btn-color: #3883F6;

    --info-header-font-color: #1F2937;
    --info-header-font-size: 36px;
    --info-header-font-weight: 900;

    --quote-body-font-color: #1F2937;

    --quote-speaker-font-color: #E5E7EB;
    --quote-speaker-font-size: 36px;
    --quote-speaker-font-style: italic;
    --quote-speaker-font-weight: 100;
}

.landing img {
    object-fit: cover;
    width: 400px;
    height: 200px;
    flex: 0 0 auto;
}

.card img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.section {
    padding: 0 100px;
}

/* header */
.header {
    background-color: var(--dark-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo {
    color: var(--header-logo-font-color);
    font-size: var(--header-logo-font-size);
    font-weight: 700;
}

.header .links {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    display: flex;
    list-style: none;
    gap: 10px;
}

.header .links a {
    text-decoration: none;
    color: var(--hero-secondary-font-color);
    font-size: var(--hero-secondary-font-size);
}

